
fastapi==0.115.6
langchain==0.3.8
langchain-community==0.3.8
langchain-groq==0.2.1
langchain-huggingface==0.1.2
langchain-pinecone==0.2.0
langchain-text-splitters==0.3.2
langcodes==3.4.1
langsmith==0.1.145
pinecone
pinecone-client
uvicorn==0.31.0
pinecone-plugin-inference
torch==2.2.0





